<?xml version="1.0"?>
<!--
/**
 * @open license
 */
-->
<config>
    <modules>
        <ICC_Vchannel>
            <version>0.1.0</version>
        </ICC_Vchannel>
    </modules>
    <global>
        <models>
            <icc_vchannel>
                <class>ICC_Vchannel_Model</class>
                <resourceModel>icc_vchannel_resource</resourceModel>
            </icc_vchannel>
            <icc_vchannel_resource>
                <class>ICC_Vchannel_Model_Resource</class>
                <entities>
                    <category>
                        <table>icc_vchannel_category</table>
                    </category>
                    <item>
                        <table>icc_vchannel_item</table>
                    </item>
                </entities>
            </icc_vchannel_resource>
        </models>
        <blocks>
            <icc_vchannel>
                <class>ICC_Vchannel_Block</class>
            </icc_vchannel>
        </blocks>
        <helpers>
            <icc_vchannel>
                <class>ICC_Vchannel_Helper</class>
            </icc_vchannel>
        </helpers>
        <resources>
            <icc_vchannel_setup>
                <setup>
                    <module>ICC_Vchannel</module>
                </setup>
            </icc_vchannel_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ICC_Vchannel before="Mage_Adminhtml">ICC_Vchannel_Adminhtml</ICC_Vchannel>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <icc_vchannel>
                    <file>icc/vchannel.xml</file>
                </icc_vchannel>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <icc_vchannel>
                <use>standard</use>
                <args>
                    <module>ICC_Vchannel</module>
                    <frontName>vchannel</frontName>
                </args>
            </icc_vchannel>
        </routers>
        <layout>
            <updates>
                <icc_vchannel>
                    <file>icc/vchannel.xml</file>
                </icc_vchannel>
            </updates>
        </layout>
    </frontend>
    <default>
        <icc_vchannel>
            <image>
                <category_list_image_width>256</category_list_image_width>
                <category_list_image_height>196</category_list_image_height>
                <list_image_width>256</list_image_width>
                <list_image_height>196</list_image_height>
                <box_image_width>800</box_image_width>
                <box_image_height>600</box_image_height>
            </image>
        </icc_vchannel>
    </default>
</config>
